@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*{
    margin: 0;
    padding: auto;
    font-family: "Poppins", Arial;
}
body{
    background-color: #042430;
}
h1, h2{
    color: white;
    padding: 30px;
}
#container{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin: 7.5% auto;
  padding: 10% 0 0;
}